#map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.search_results {
	position: relative;
	margin-left:2%;
}

.itineraries {
	width: 100%;
	left: 2%;
	position: relative;
}

.itineraryVenues {
	width: 100%;
	margin-left: 2%;
	padding-bottom:10px;
	position: relative;
}

.nav.nav-pills {
	cursor: pointer;
}

.marginBottom {
	margin-bottom :1px !important;
}

#add-itinerary {
	left: 4px;
	top: 8px;
	width: 130px;
	position: relative;
}

.darkgray a{
    background-color: rgba(112,112,112,.9); /*dark gray*/
    color:white;
}
.darkgray a:hover{
    color:#464646;
}
.lightgray a{
    background-color: rgba(255,255,255,.9); /*white*/
}

.darkorange a{
    background-color: rgba(0,174,239,.9); /*light blue*/
    color:white;
}

.darkorange .active a,
.darkorange .active a:hover {
    background-color: rgba(0,150,204,.9); /*rgba(255,140,0,.9); orange*/
}

.searchResults{
	padding:5px;
	border:none;
	margin:0 0 5px 0;
	background: rgba(255,255,255,.8);
	font-size: 14px;
	line-height:80%;
	cursor: pointer;
}

.infoWindowControls{
	padding-bottom:10px;
}

.highlightSelected {
	background-color: rgba(160,255,255,.8);
}

.cursor_delete{
	cursor:url(../img/Cursor_Delete.png),crosshair;
}
.cursor_add{
	cursor:url(../img/Cursor_Add.png),crosshair;
}
